SECRET_KEY='njasjdhdbjsajsasbjdxnjajdjhadhahaha'
DEBUG=True
WEB_SERVICE_UID='MSFADMIN'
WEB_SERVICE_PWD='MSF@Adm1n'
DB_NAME='msf_ess'
DB_USER='postgres'
DB_PASSWORD='admin'
DB_HOST='127.0.0.1'
MODE='dev'
DISABLE_COLLECTSTATIC=1
AZURE_AD_CLIENT_ID='b27c43d2-3465-4378-952b-3ab324ca34c7'
AZURE_AD_CLIENT_SECRET='b~U8Q~Iw_fW3OLlc16AUFDBGuKUsrRmE1TTmxcD8'
AZURE_AD_TENANT_ID='4d9dd1af-83ce-4e9b-b090-b0543ccc2b31'
AZURE_AD_REDIRECT_URI='http://localhost:8000/selfservice/auth/redirect'

