{% extends 'base.html' %}
{% load static %}
{% block title %}
Leave Request
{% endblock %}

{% block main %}
<section class="section">
    {% include 'alerts.html' %}
    <div class="section-header">
        <h1>My Leave Plans <i class="fas fa-folder-open inside-icon"></i></h1>
        <div class="section-header-breadcrumb">
            <div class="breadcrumb-item active"><a href="{% url 'dashboard' %}">Dashboard</a></div>
            <div class="breadcrumb-item active"><a href="{% url 'LeavePlanner' %}">New Leave Plan</a></div>
            <div class="breadcrumb-item">My Plans</div>
        </div>
    </div>
    <div class="section-body bg-white p-2">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <ul class="nav nav-tabs" id="myTab2" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab2" data-toggle="tab" href="#home2" role="tab"
                                    aria-controls="home" aria-selected="true">Open ({{open_plans|length}})</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="contact-tab2" data-toggle="tab" href="#contact2" role="tab"
                                    aria-controls="contact" aria-selected="false">Submitted ({{submitted|length}})</a>
                            </li>
                        </ul>
                        <div class="tab-content tab-bordered" id="myTab3Content">
                            <div class="tab-pane fade show active" id="home2" role="tabpanel"
                                aria-labelledby="home-tab2">
                                <div class="table-responsive">
                                    <table class="table table-striped" id="table-2">
                                        <thead>
                                            <tr>
                                                <th>Plan No.</th>
                                                <th>Employee Name</th>
                                                <th>Document Date</th>
                                                <th>Days Planned</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for open_plan in open_plans %}
                                            <tr>
                                                <td>{{open_plan.No_}}</td>
                                                <td>{{open_plan.Employee_Name}}</td>
                                                <td id="Open_Document_Date{{open_plan.No_}}">{{open_plan.Date}}</td>
                                                <td>{{open_plan.Days_Planned}}</td>
                                                <td>
                                                    <script>
                                                        $(document).ready(function () {
                                                            $("#Open_Document_Date{{open_plan.No_}}")
                                                                .empty().append(moment(
                                                                        '{{open_plan.Date}}', "YYYY-MM-DD")
                                                                    .format(
                                                                        'Do MMM YYYY'));
                                                        })
                                                    </script>
                                                    <a href="{% url 'PlannerDetails' open_plan.No_ %}"
                                                        class="btn btn-danger" data-toggle="tooltip"
                                                        title="View Details"> Details <i class="las la-eye"></i></a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="contact2" role="tabpanel" aria-labelledby="contact-tab2">
                                <div class="table-responsive">
                                    <table class="table table-striped data-table">
                                        <thead>
                                            <tr>
                                                <th>Plan No.</th>
                                                <th>Employee Name</th>
                                                <th>Document Date</th>
                                                <th>Days Planned</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for plan in submitted %}
                                            <tr>
                                                <td>{{plan.No_}}</td>
                                                <td>{{plan.Employee_Name}}</td>
                                                <td id="Submitted_Document_Date{{plan.No_}}">{{plan.Date}}</td>
                                                <td>{{plan.Days_Planned}}</td>
                                                <td>
                                                    <form action="{% url 'FnReOpenLeavePlanner' plan.No_ %}"
                                                        method="post" style="display:inline-block">
                                                        {% csrf_token %}
                                                        <button class="btn btn-info btn-action" type="submit"
                                                            data-toggle="tooltip" title="ReOpen"><i
                                                                class="las la-redo-alt"></i> ReOpen</button>
                                                    </form>
                                                    <a href="{% url 'PlannerDetails' plan.No_ %}" class="btn btn-danger"
                                                        data-toggle="tooltip" title="View Details"> Details <i
                                                            class="las la-eye"></i></a>
                                                </td>
                                                <script>
                                                    $(document).ready(function () {
                                                        $("#Submitted_Document_Date{{plan.No_}}")
                                                            .empty().append(moment(
                                                                    '{{plan.Date}}', "YYYY-MM-DD")
                                                                .format(
                                                                    'Do MMM YYYY'));
                                                    })
                                                </script>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock %}