{% extends 'base.html' %}
{% load static %}
{% block title %}
Leave Request
{% endblock %}

{% block main %}
<section class="section">
    {% include 'alerts.html' %}
    <div class="section-header">
        <h1>New Leave Adjustment <i class="fas fa-edit inside-icon"></i></h1>
        <div class="section-header-breadcrumb">
            <div class="breadcrumb-item active"><a href="{% url 'dashboard' %}">Dashboard</a></div>
            <div class="breadcrumb-item">New Leave Adjustment</div>
        </div>
    </div>
    <div class="section-body bg-white p-2">
        <div class="row" id="header_step">
            <div class="col-md-12">
                <div class="card-body">
                    <form method="POST" action="{% url 'LeaveAdjustments' %}" novalidate>
                        <input type="hidden" name="adjNo" value="">
                        <input type="hidden" name="myAction" value="insert">
                        {% csrf_token %}
                        <div class="row">
                            <div class="form-group col-12">
                                <label>Adjustment Description<span class="text-danger">*</span></label>
                                <textarea class="form-control" name="description"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary btn-lg btn-block"
                                    style="margin-bottom:7rem">
                                    Save
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock %}