<form class="row">
    <div class="col-md-4">
        <label class="form-label">Recall ID</label>
        <input type="text" class="form-control" placeholder="{{data.No}}" readonly>
    </div>
    <div class="col-md-4">
        <label class="form-label">Application Date</label>
        <input type="text" class="form-control" placeholder="{{data.Date}}" readonly>
    </div>
    <div class="col-md-4">
        <label class="form-label">Leave Number</label>
        <input type="text" class="form-control" placeholder="{{data.LeaveApplication}}" readonly>
    </div>
    <div class="col-md-4">
        <label class="form-label">Leave Start Date</label>
        <input type="text" class="form-control" placeholder="{{data.LeaveStartDate}}" readonly>
    </div>
    <div class="col-md-4">
        <label class="form-label">Leave End Date</label>
        <input type="text" class="form-control" placeholder="{{data.LeaveEndingDate}}" readonly>
    </div>
    <div class="col-md-4">
        <label class="form-label">Recall Date</label>
        <input type="text" class="form-control" placeholder="{{data.RecallDate}}" readonly>
    </div>
    <div class="col-md-4">
        <label class="form-label">No of Off Days</label>
        <input type="text" class="form-control" placeholder="{{data.NoofOffDays}}" readonly>
    </div>
    <div class="col-md-4">
        <label class="form-label">Recalled From</label>
        <input type="text" class="form-control" placeholder="{{data.RecalledFrom}}" readonly>
    </div>
    <div class="col-md-4">
        <label class="form-label">Recalled To</label>
        <input type="text" class="form-control" placeholder="{{data.RecalledTo}}" readonly>
    </div>
    <div class="col-md-4">
        <label class="form-label">Employee Name</label>
        <input type="text" class="form-control" placeholder="{{data.EmployeeName}}" readonly>
    </div>
    <div class="col-md-4">
        <label class="form-label">Department Name</label>
        <input type="text" class="form-control" placeholder="{{data.DepartmentName}}" readonly>
    </div>
    <div class="col-md-6">
        <label class="form-label">Recalled By</label>
        <input type="text" class="form-control" placeholder="{{data.Name}}" readonly>
    </div>
    <div class="col-md-6">
        <label class="form-label">Employment Type</label>
        <textarea class="form-control" readonly>{{data.Name}}</textarea>
    </div>
</form>