<form class="row">
    <div class="col-md-4">
        <label class="form-label">Leave Number</label>
        <input type="text" class="form-control" placeholder="{{data.Application_No}}" readonly>
    </div>
    <div class="col-md-4">
        <label class="form-label">Application Date</label>
        <input type="text" class="form-control" placeholder="{{data.Application_Date}}" readonly>
    </div>
    <div class="col-md-4">
        <label class="form-label">Start Date</label>
        <input type="text" class="form-control" placeholder="{{data.Start_Date}}" readonly>
    </div>
    <div class="col-md-4">
        <label class="form-label">Resumption Date</label>
        <input type="text" class="form-control" placeholder="{{data.Resumption_Date}}" readonly>
    </div>
    <div class="col-md-4">
        <label class="form-label">Leave Type</label>
        <input type="text" class="form-control" placeholder="{{data.Leave_Code}}" readonly>
    </div>
    <div class="col-md-4">
        <label class="form-label">User</label>
        <input type="text" class="form-control" placeholder="{{data.User_ID}}" readonly>
    </div>
    <div class="col-md-4">
        <label class="form-label">Planner Start Date</label>
        <input type="text" class="form-control" placeholder="{{data.Planner_Start_Date}}" readonly>
    </div>
    <div class="col-md-4">
        <label class="form-label">Return same day</label>
        <input type="text" class="form-control" placeholder="{{data.Return_same_day}}" readonly>
    </div>
    <div class="col-md-4">
        <label class="form-label">Days Applied</label>
        <input type="text" class="form-control" placeholder="{{data.Days_Applied}}" readonly>
    </div>
    <div class="col-md-4">
        <label class="form-label">Leave Allowance Payable</label>
        <input type="text" class="form-control" placeholder="{{data.Leave_Allowance_Payable}}" readonly>
    </div>
    <div class="col-md-6">
        <label class="form-label">End Date</label>
        <input type="text" class="form-control" placeholder="{{data.End_Date}}" readonly>
    </div>
    <div class="col-md-6">
        <label class="form-label">Employment Type</label>
        <input type="text" class="form-control" placeholder="{{data.Employment_Type}}" readonly>
    </div>
</form>